In [383]:
import pandas as pd

In [384]:
import numpy as np

In [385]:
data=pd.read_csv("datajee.csv")

In [386]:
data.head()

,Name,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
0,A,3,1,54,1,1,1
1,B,4,1,30,1,1,0
2,C,3,1,24,0,0,0
3,D,2,0,20,0,-1,0
4,E,5,0,45,1,-1,1

In [387]:
data.describe()

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,7.000000,0.057692,56.115385,0.500000,0.000000,0.653846
std,4.846669,0.802287,25.536328,0.504878,0.766965,0.480384
min,0.000000,-1.000000,2.000000,0.000000,-1.000000,0.000000
25%,3.000000,-1.000000,35.750000,0.000000,-1.000000,0.000000
50%,6.000000,0.000000,58.500000,0.500000,0.000000,1.000000
75%,10.250000,1.000000,78.250000,1.000000,1.000000,1.000000
max,18.000000,1.000000,98.000000,1.000000,1.000000,1.000000

In [388]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              52 non-null     object
 1   Daily Hour        52 non-null     int64
 2   Coaching Mode     52 non-null     int64
 3   Syllabus Covered  52 non-null     int64
 4   Maintain          52 non-null     int64
 5   Psychology        52 non-null     int64
 6   Probablity        52 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.0+ KB

In [389]:
data.isnull().sum()

Name                0
Daily Hour          0
Coaching Mode       0
Syllabus Covered    0
Maintain            0
Psychology          0
Probablity          0
dtype: int64

In [390]:
prob=pd.crosstab(index=data['Probablity'],columns='counts',normalize=True)
prob

col_0         counts
Probablity
0           0.346154
1           0.653846

In [391]:
salstat=pd.crosstab(index=data['Coaching Mode'],columns=data['Probablity'])
salstat

Probablity     0   1
Coaching Mode
-1             4  11
 0             7  12
 1             7  11

In [392]:
correlation=data.corr()           #Not correlated
correlation

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
Daily Hour,1.000000,-0.247089,0.838869,-0.088144,0.121322,0.429505
Coaching Mode,-0.247089,1.000000,-0.304678,-0.072611,0.318658,-0.099795
Syllabus Covered,0.838869,-0.304678,1.000000,0.012167,0.041047,0.644274
Maintain,-0.088144,-0.072611,0.012167,1.000000,0.101274,0.080845
Psychology,0.121322,0.318658,0.041047,0.101274,1.000000,0.106438
Probablity,0.429505,-0.099795,0.644274,0.080845,0.106438,1.000000

In [393]:
from sklearn.model_selection import train_test_split

In [394]:
from sklearn.linear_model import LogisticRegression

In [395]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [396]:
data=data.drop(columns='Name')

In [397]:
new_data=pd.get_dummies(data)         #particular column has many sub type then split iand use 0 &1 so we can use Logistic regression easily
new_data

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
0,3,1,54,1,1,1
1,4,1,30,1,1,0
2,3,1,24,0,0,0
3,2,0,20,0,-1,0
4,5,0,45,1,-1,1
5,7,-1,67,0,-1,1
6,6,-1,70,1,0,1
7,2,1,19,0,1,0
8,12,1,87,1,0,1
9,13,0,80,1,0,1
10,16,0,97,0,0,1
11,16,0,90,0,0,0
12,13,-1,89,1,0,1
13,11,1,78,1,-1,1
14,9,1,80,0,0,1
15,8,1,89,1,1,1
16,6,-1,60,1,0,0
17,5,-1,50,1,0,1
18,5,1,70,0,0,1
19,4,0,50,1,0,1
20,1,0,36,0,0,1
21,13,-1,85,0,0,1
22,12,-1,80,0,0,0
23,17,0,98,0,1,1
24,18,0,80,0,1,1
25,1,-1,55,1,0,1
26,6,1,45,1,1,1
27,12,1,67,0,0,1
28,8,1,74,0,-1,1
29,0,1,2,0,1,0
30,4,0,10,1,1,0
31,7,0,45,0,-1,1
32,4,0,50,1,-1,0
33,10,-1,65,1,0,0
34,2,1,20,0,-1,0
35,11,-1,56,0,-1,1
36,5,-1,67,1,-1,1
37,1,-1,35,0,-1,0
38,9,-1,80,1,-1,1
39,1,1,14,1,0,0
40,3,1,50,1,1,1
41,5,1,52,0,1,1
42,7,-1,77,0,-1,1
43,4,0,30,0,0,0
44,1,0,23,0,-1,0
45,6,0,57,0,1,1
46,9,0,60,1,1,1
47,10,0,75,1,1,1
48,16,-1,79,1,0,1
49,0,1,10,1,-1,0
50,3,0,25,1,0,0
51,8,0,67,0,1,1

In [398]:
column_list=new_data.columns

In [399]:
features=list(set(column_list)-set(['Probablity']))
features

['Daily Hour', 'Coaching Mode', 'Maintain', 'Psychology', 'Syllabus Covered']

In [400]:
y=new_data['Probablity'].values                 #storing output variabe in y
print(y)

[1 0 0 0 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 0 0 1 0 0 0 1 1
 0 1 0 1 1 1 0 0 1 1 1 1 0 0 1]

In [401]:
x=new_data[features].values                 #storing output variabe in x
print(x)

[[ 3  1  1  1 54]
 [ 4  1  1  1 30]
 [ 3  1  0  0 24]
 [ 2  0  0 -1 20]
 [ 5  0  1 -1 45]
 [ 7 -1  0 -1 67]
 [ 6 -1  1  0 70]
 [ 2  1  0  1 19]
 [12  1  1  0 87]
 [13  0  1  0 80]
 [16  0  0  0 97]
 [16  0  0  0 90]
 [13 -1  1  0 89]
 [11  1  1 -1 78]
 [ 9  1  0  0 80]
 [ 8  1  1  1 89]
 [ 6 -1  1  0 60]
 [ 5 -1  1  0 50]
 [ 5  1  0  0 70]
 [ 4  0  1  0 50]
 [ 1  0  0  0 36]
 [13 -1  0  0 85]
 [12 -1  0  0 80]
 [17  0  0  1 98]
 [18  0  0  1 80]
 [ 1 -1  1  0 55]
 [ 6  1  1  1 45]
 [12  1  0  0 67]
 [ 8  1  0 -1 74]
 [ 0  1  0  1  2]
 [ 4  0  1  1 10]
 [ 7  0  0 -1 45]
 [ 4  0  1 -1 50]
 [10 -1  1  0 65]
 [ 2  1  0 -1 20]
 [11 -1  0 -1 56]
 [ 5 -1  1 -1 67]
 [ 1 -1  0 -1 35]
 [ 9 -1  1 -1 80]
 [ 1  1  1  0 14]
 [ 3  1  1  1 50]
 [ 5  1  0  1 52]
 [ 7 -1  0 -1 77]
 [ 4  0  0  0 30]
 [ 1  0  0 -1 23]
 [ 6  0  0  1 57]
 [ 9  0  1  1 60]
 [10  0  1  1 75]
 [16 -1  1  0 79]
 [ 0  1  1 -1 10]
 [ 3  0  1  0 25]
 [ 8  0  0  1 67]]

In [402]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.4,random_state=0)

In [403]:
logistic=LogisticRegression()

In [404]:
logistic.fit(train_x,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [405]:
prediction=logistic.predict(test_x)       #prediction from the test data 
prediction

array([1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1],
      dtype=int64)

In [406]:
confusion_matrix=confusion_matrix(test_y, prediction)     #confusion matrix   
confusion_matrix

array([[8, 4],
       [0, 9]], dtype=int64)

In [407]:
accuracy_score=accuracy_score(test_y, prediction)        #calculating the accuracy
print(accuracy_score)                                    #This is the accuracy it can be mor accurate if we romove some more

0.8095238095238095

In [408]:
print("No of misclassified value :",(test_y!=prediction).sum())

No of misclassified value : 4

In [409]:
new_data

,Daily Hour,Coaching Mode,Syllabus Covered,Maintain,Psychology,Probablity
0,3,1,54,1,1,1
1,4,1,30,1,1,0
2,3,1,24,0,0,0
3,2,0,20,0,-1,0
4,5,0,45,1,-1,1
5,7,-1,67,0,-1,1
6,6,-1,70,1,0,1
7,2,1,19,0,1,0
8,12,1,87,1,0,1
9,13,0,80,1,0,1
10,16,0,97,0,0,1
11,16,0,90,0,0,0
12,13,-1,89,1,0,1
13,11,1,78,1,-1,1
14,9,1,80,0,0,1
15,8,1,89,1,1,1
16,6,-1,60,1,0,0
17,5,-1,50,1,0,1
18,5,1,70,0,0,1
19,4,0,50,1,0,1
20,1,0,36,0,0,1
21,13,-1,85,0,0,1
22,12,-1,80,0,0,0
23,17,0,98,0,1,1
24,18,0,80,0,1,1
25,1,-1,55,1,0,1
26,6,1,45,1,1,1
27,12,1,67,0,0,1
28,8,1,74,0,-1,1
29,0,1,2,0,1,0
30,4,0,10,1,1,0
31,7,0,45,0,-1,1
32,4,0,50,1,-1,0
33,10,-1,65,1,0,0
34,2,1,20,0,-1,0
35,11,-1,56,0,-1,1
36,5,-1,67,1,-1,1
37,1,-1,35,0,-1,0
38,9,-1,80,1,-1,1
39,1,1,14,1,0,0
40,3,1,50,1,1,1
41,5,1,52,0,1,1
42,7,-1,77,0,-1,1
43,4,0,30,0,0,0
44,1,0,23,0,-1,0
45,6,0,57,0,1,1
46,9,0,60,1,1,1
47,10,0,75,1,1,1
48,16,-1,79,1,0,1
49,0,1,10,1,-1,0
50,3,0,25,1,0,0
51,8,0,67,0,1,1

In [410]:
prob=logistic.predict_proba([[6,-1,1,1,100]])[0][1]
round(prob*100,2)

99.99